* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#headbar {
  background-color: #803c39;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

#heading-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

#heading-ul li {
  color: white;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

#heading-ul li:hover {
  color: #0a0a0a;
}
/* Tablet responsive */
@media (max-width: 768px) {
  #heading-ul {
    width: 100%;
    flex-direction: row;
  }
  #heading-ul li {
    margin: 10px 0;
    font-size: medium;
  }
}
/* mobile responsive */
@media (max-width: 610px) {
  #heading-ul {
    width: 100%;
    flex-direction: column;
  }
  #heading-ul li {
    margin: 5px 0;
    font-size: small;
  }
}
